.box1{
                background-image:url("box1.jpeg");
                background-size:cover;
                background-position:center;
                top:0px;
                height:800px;
            }
            .box2{
                background-image:url("box2.jpeg");
                background-size:cover;
                background-position:center;
                height:500px;
                
            }
            .box3{
                background-image:url("box3.jpeg");
                background-size:cover;
                background-position:center;
                height:500px;

            }
head{
            background-color:rgb(11, 179, 245);
        }
        .name{
            text-style:italic;
        
            color:rgb(0, 0, 0);
            background-color:rgb(239, 232, 232);
            padding:red;

        }.chat{
            position:fixed;
            top:20px;
            right:20px;
            position:40px; 
            color: white;
            background-color: purple;
            text-align: center;
            padding:12px 15px;
            border:rgb(30, 11, 247);
            border-radius: 13px;
            animation: blink 1s infinite;
        }
            @keyframes blink{
                0%{
                    opacity: 2;
                }
                50%{
                    opacity: 0.7;
                }
                60%{
                    opacity: 1;
                }
            }
            .chat:hover{
                box-shadow:0 0 30px dark blue(2,78,255);
                transform:scale(1,.1);
                transition: 0.3s;
            }
            body{
                background-color:rgb(6, 174, 240);
            }
            .webname{
                font-size:60px;
                text-align: center;
                position:relative;
                top:5px;
                text-decoration: underline;
                text-decoration-color:solid red;
            }
            .welcome{
                font-size:30px;
                text-align:left;
                position:relative;
                top:5px;
                color:rgb(241, 38, 6);
                border-color: rgb(12, 2, 2);
            }
            img{
                position:absolute;
                width:200px;
                height:auto;
                top:20px;
                right:20px;
            }
            .main1{
                color:red;
                position:absolute;
                width:10px;
                height:auto;
                left:20px;
                bottom:-100;
                
            }
            p{
                color:rgb(8, 16, 110);
                border-color:rgb(0, 0, 0);
                font-size: 30px;
                font-style: italic;
            }
